.benefits__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.benefits__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
  position: relative;
}


.benefits__item:nth-child(2n) {
  flex-direction: row-reverse;
}


.benefits__item-text {
  max-width: 445px;
}


.benefits__item-header {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
}


.benefits__item-description {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  font-family: 'Lexend Deca';
  margin-bottom: 40px;
  margin-top: 24px;
}


.benefits__item-img {
  border-radius: 50%;
}

.benefits__item::before {
  content: '';
  width: 735px;
  height: 138px;
  position: absolute;
  background: url(../img/main-arrow.png) no-repeat;
  z-index: 2;
}


.benefits__item:first-child::before {
  right: -165px;
  top: 307px;
}


.benefits__item:nth-child(2):before {
  left: -550px;
  top: 0;
  transform: rotateX(180deg);
  transform: rotateY(180deg);
}


.benefits__item:nth-child(3):before {
  right: -544.97px;
  top: 85px;
}


.benefits__item::after {
  content: '';
  width: 445px;
  height: 445px;
  position: absolute;
  background: url(../img/main-circle.png) no-repeat;
}


.benefits__item:first-child::after {
  top: 0;
  right: -509px;
}


.benefits__item:nth-child(2)::after {
  top: 0;
  left: -509px;
}


.benefits__item:nth-child(3)::after {
  top: 0;
  right: -509px;
}


.benefits {
  margin-bottom: 200px;
}


@media screen and(max-width: 1106px){
  .benefits__item,   .benefits__item:nth-child(2)
  {
    flex-direction: column-reverse;
  }

  .benefits__item-text {
    max-width: 100%;
    text-align: center;
  }

  .benefits__item-header {
    margin-top: 64px;
    margin-bottom: 40px;
  }
  

  .benefits__item:first-child::before {
    left: -58px;
  }


  .benefits__item:nth-child(2)::before {
    left: -386px;
  }


  .benefits__item:nth-child(3)::before {
    right: -475px;
  }


  .benefits__item:first-child::after {
    right: -448px;
  }
  
  
  .benefits__item:nth-child(2)::after {
    left: -448px;
  }
  
  
  .benefits__item:nth-child(3)::after {
    right: -448px;
  }
  
  
  .benefits {
    margin-bottom: 104px;
  }
}


@media screen and(max-width: 573px){
  .benefits__item:first-child::after, .benefits__item:nth-child(2)::after, .benefits__item:nth-child(3)::after {
    display: none;
  }

  .benefits__item-img {
    max-width: 311px;
  }


  .benefits__item:first-child::before {
    top: 173px;
    right: unset;
    left: 0;
  }


  .benefits__item:nth-child(2)::before{
    left: -505px;
  }


  .benefits__item:nth-child(3)::before{
    top: 0;
    right: -545px;
  }


  .benefits {
    margin-bottom: 120px;
  }
}